.edit-event-header {
  display: flex;
  justify-content: flex-end;
}
.edit-event-header mat-icon {
  color: gray;
  margin-right: 20px;
  cursor: pointer;
}

.edit-title, .edit-date-time, .edit-description {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.edit-title span {
  font-size: 1.5rem;
  font-weight: 500;
}
.edit-content-icon {
  margin-right: 20px;
  color: gray;
}
