<div class="edit-event-div">
  <div class="edit-event-header">
    <mat-icon matSuffix class="edit-icon" (click)="onEditClick()" style="cursor: pointer">edit</mat-icon>
    <mat-icon matSuffix (click)="onDeleteClick()" style="cursor: pointer">delete</mat-icon>
    <mat-icon matSuffix (click)="onCloseClick()" style="cursor: pointer">close</mat-icon>
  </div>
  <div class="edit-event-content" [formGroup] = "editEventForm">
    <div class="edit-title"><mat-icon class="edit-content-icon">title</mat-icon>
      <span *ngIf="!isEditing">{{eventData.title}}</span>
      <mat-form-field *ngIf="isEditing" class="" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput maxlength="256" formControlName="title">
      </mat-form-field>
    </div>
    <div class="edit-date-time"><mat-icon class="edit-content-icon">date_range</mat-icon>
      <span *ngIf="!isEditing">{{eventData.startDay}} . {{eventData.startTime}} - {{eventData.endTime}}</span>
    </div>
    <div class="edit-description"><mat-icon class="edit-content-icon">description</mat-icon>
      <span *ngIf="!isEditing">{{eventData.description}}</span>
      <mat-form-field *ngIf="isEditing" class="description" appearance="fill">
        <mat-label>Add Description</mat-label>
        <textarea matInput placeholder="" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
