<div class="demo">
  <div class="header-div">
    <div class="currentMonth">{{displayMonth}} - {{displayYear}}</div>
    <div class="header-btns-div">
      <button mat-raised-button class="todayBtn" type="button" (click)="getCurrentDay()">Today</button>
      <mat-icon (click)="previousMonth()">chevron_left</mat-icon>
      <mat-icon (click)="nextMonth()">chevron_right</mat-icon>
    </div>
  </div>
  <div class="calendar-div">
    <div class="week-header-row">
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
      <div>Sunday</div>
    </div>
    <div class="content-div">
      <div class="row" *ngFor="let row of calendar | chunk: 7; let i = index">
        <div class="calendar-day" [ngClass]="{'past-date': day.isPastDate, 'today': day.isToday}" *ngFor="let day of row; let j = index">
          <div class="calendar-day-wrapper" (click)="addEvent(day)">
            <div class="calendar-day-header" [ngClass]="{'blue-date': day.isToday}">
              <strong>{{day.date.getDate()}}</strong>
              <strong *ngIf="day.isToday || (i==0 && j==0) || (day.date.getDate() == 1)"> {{monthNames[day.date.getMonth()]}}</strong>
            </div>
            <div class="appt-list-div">
              <div *ngFor="let event of day.event; let topIndex = index" (click)="editEvent(event, $event)"
                   [ngStyle]="{'top':'calc(' + topIndex + 'em + ' + (topIndex + 20) + 'px)', 'background-color' : event.color}"
                   [ngClass]="{'multi-days': event.allDay, 'single-day': !event.allDay, 'fake-event': (event | json) === '{}'}">
                <span class="inner-span" *ngIf="!event.allDay">
                  <span class="dot-div"></span>
                  <span>{{event.startTime}} {{event.title}}</span>
                </span>
                <span class="inner-span" *ngIf="event.allDay && event.date.toDateString() === event.startDay.toDateString()">
                  <span>{{event.title}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


