.add-event-div {
  display: flex;
  flex-direction: column;
}
.action-btns {
  margin-left: auto;
}
.cancelBtn {
  margin-right: 5px;
}
.not-all-day-div mat-form-field {
  width: 25%;
  margin: 0 10px 0 0;
}
