.add-event-div {
  display: flex;
  flex-direction: column;
}
.action-btns {
  margin-left: auto;
}
.cancelBtn {
  margin-right: 5px;
}
.not-all-day-div {
  display: flex;
  justify-content: space-between;
}
.not-all-day-div mat-form-field {
  width: calc(100% / 3 - 5px);
}
.description {
  margin-top: 10px;
}

.edit-event-header {
  display: flex;
  justify-content: flex-end;
}
.edit-event-header mat-icon {
  color: gray;
  margin-right: 20px;
  cursor: pointer;
}

.edit-title, .edit-date-time, .edit-description, .edit-location {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.edit-title span {
  font-size: 1.5rem;
  font-weight: 500;
}
.edit-content-icon {
  margin-right: 20px;
  color: gray;
}


