<div *ngIf="actionData === 'add'" class="add-event-div" [formGroup]="appointmentForm">
  <mat-form-field class="" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput maxlength="256" formControlName="apptTitle">
  </mat-form-field>
  <mat-form-field *ngIf="alldayChecked" class="" appearance="fill">
    <mat-date-range-input
      [rangePicker]="apptDayRange">
      <input matStartDate placeholder="Start date" formControlName="startDay">
      <input matEndDate placeholder="End date" formControlName="endDay">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="apptDayRange"></mat-datepicker-toggle>
    <mat-date-range-picker #apptDayRange></mat-date-range-picker>
  </mat-form-field>
  <div *ngIf="!alldayChecked" class="not-all-day-div">
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker"  formControlName="singleDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose time</mat-label>
      <mat-select formControlName="startTime">
        <ng-container *ngFor="let option of timeOptions">
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose time</mat-label>
      <mat-select formControlName="endTime">
        <ng-container *ngFor="let option of timeOptions">
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-checkbox (change)="checkAllday($event.checked)" formControlName="allDay">All day</mat-checkbox>
  <mat-form-field class="description" appearance="fill">
    <mat-label>Add Description</mat-label>
    <textarea matInput placeholder="" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field class="location" appearance="fill">
    <mat-label>Add Location</mat-label>
    <input matInput placeholder="" [matAutocomplete]="auto" formControlName="location">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let location of locationOptions" [value]="location">
          <span>{{location.ShortString}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>


  <div class="action-btns">
    <button mat-raised-button color="warn" class="cancelBtn" type="button" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" class="saveBtn" type="button" (click)="onSaveClick()">Save</button>
  </div>
</div>

<div *ngIf="actionData === 'edit'" class="edit-event-div">
  <div class="edit-event-header">
    <mat-icon matSuffix class="edit-icon" (click)="onEditClick(apptData)" style="cursor: pointer">edit</mat-icon>
    <mat-icon matSuffix (click)="onDeleteClick()" style="cursor: pointer">delete</mat-icon>
    <mat-icon matSuffix (click)="onCancelClick()" style="cursor: pointer">close</mat-icon>
  </div>
  <div class="edit-event-content">
    <div class="edit-title"><mat-icon class="edit-content-icon">title</mat-icon>
      <span>{{apptData.title}}</span>
    </div>
    <div class="edit-date-time"><mat-icon class="edit-content-icon">date_range</mat-icon>
      <div *ngIf="apptData.allDay">
        <span>{{apptData.startDay | date: 'MMM d, y'}} - {{apptData.endDay | date: 'MMM d, y'}}</span>
      </div>
      <div *ngIf="!apptData.allDay">
        <span>{{apptData.startDay | date: 'MMM d, y'}}</span>
        <span> . </span>
        <span *ngIf="apptData.startTime">{{apptData.startTime}} - {{apptData.endTime}}</span>
      </div>
    </div>
    <div class="edit-description"><mat-icon class="edit-content-icon">description</mat-icon>
      <span>{{apptData.description}}</span>
    </div>
    <div class="edit-location" *ngIf="location"><mat-icon class="edit-content-icon">location_on</mat-icon>
      <app-trimble-maps [location]="location"></app-trimble-maps>
    </div>
  </div>


</div>
