.add-event-div {
  display: flex;
  flex-direction: column;
}
.action-btns {
  margin-left: auto;
}
.cancelBtn {
  margin-right: 5px;
}
.not-all-day-div {
  display: flex;
  justify-content: space-between;
}
.not-all-day-div mat-form-field {
  width: calc(100% / 3 - 5px);
}
